<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Word Puzzle</title>

  <!-- CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/base/jquery-ui.css" type="text/css" media="all">
  </head>
  <body>

  <!-- navigation bar -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-hand-down"></i> Word Puzzle</a>
    </div>
  </nav>

  <!-- main body of our application -->

  <div class="container" id="wordPuzzle">
    <div class="col-sm-7">
      <div class="panel panel-primary">
        <div class="panel-body">
        <table class="table table-bordered" id="selectable">
          <tbody>
          <tr v-for="row, rowIndex in puzzle">
            <td v-for="letter, lIndex in row" :id="'row=' + rowIndex + 'col=' + lIndex">{{letter}} </td>
          </tr>
        </table>

          <div style="margin-top:10px">
            <button class="btn btn-danger" v-on:click="newPuzzle" id="newPuzzleButton">New Puzzle</button>
            <button class="btn btn-warning" v-on:click="solve">Solve</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="list-group">
        <div class="list-group-item" v-for="word in wordsList" id='word'>
            {{ word }}
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="views/app.js"></script>
  <script type="text/javascript">

  $('#selectable').delegate("td", "click", function(e) {
    console.log($(e.currentTarget).attr('id'));
  });

  $(document).ready(function(){
    $('#newPuzzleButton').click(function(){
      $('td').each(function() {
        $(this).removeClass();
      })
    })
  })

  </script>
  <style type="text/css">
  #selectable {
    border: 1px solid black;
  }

  #selectable .solved0 {
    background-color: #ff7f00;
  }

    #selectable .solved1 {
    background-color: #ff7f50;
  }
    #selectable .solved2 {
    background-color: #dc143c;
  }

    #selectable .solved3 {
    background-color: #ff4500;
  }
    #selectable .solved4 {
    background-color: #ffd700;
  }
  </style>
</body>
</html>